{% macro password_field(name, input_class="form-control form-control-lg form-control-solid", autocomplete="", placeholder="", required=false, minlength="", value="") %}
<div class="position-relative" data-password-toggle>
    <input type="password"
           name="{{ name }}"
           class="{{ input_class }} pe-10"
           {% if autocomplete %}autocomplete="{{ autocomplete }}"{% endif %}
           {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
           {% if required %}required{% endif %}
           {% if minlength %}minlength="{{ minlength }}"{% endif %}
           {% if value %}value="{{ value }}"{% endif %} />
    <button type="button"
            class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2"
            data-password-toggle-btn
            aria-label="Show password"
            tabindex="-1">
        <i class="ki-duotone ki-eye-slash fs-2" data-password-icon-hidden>
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
            <span class="path4"></span>
        </i>
        <i class="ki-duotone ki-eye fs-2 d-none" data-password-icon-visible>
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
        </i>
    </button>
</div>
{% endmacro %}

{% macro password_toggle_scripts() %}
<script src="/static/js/password-toggle.js"></script>
{% endmacro %}
